.message {
  background: #fff;
  border-radius: 8px;
  margin: 8px 0;
  width: fit-content;
  max-width: 70%;
  overflow: hidden;
  flex-shrink: 0;

  &.is-send {
    align-self: flex-end;
    background: #dfd;
  }
}

.message-text {
  color: #333;
  padding: 8px 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message-file {
  position: relative;
  padding: 8px;
  padding-right: 12px;
  display: flex;
  align-items: center;


  &__icon {
    flex-shrink: 0;
    color: #666;
    font-size: 24px;
    margin-right: 8px;
  }

  &__content {
    flex: 1;
    overflow: hidden;
  }

  &__name {
  }

  &__size {
    font-size: 14px;
    margin-top: 4px;
    color: #777;
  }

  &__progress {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(120, 120, 120, 0.2);

    > div {
      height: 100%;
      background: #0cf;
    }
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, .5);

  &__content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    overflow: hidden;

    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;

    li {
      padding: 16px 24px;
      font-size: 18px;
      user-select: none;

      &:hover {
        background: #eee;
      }
    }
  }
}

.button.tooltip-button {
  color: #fff;
  padding: 4px;
  font-size: 14px;
}